/*----- 

            Global: generelle regler for hele sited som fx. font family, serif, color etc.

-----*/
*{
    box-sizing: border-box;
}


/*----- 
styling the body
-----*/

body { margin:0; padding:0; }

        #map { position:absolute; top:0; bottom:0; width:100%; }


h2{
 font-family: Helvetica;
 font-size: 2.5em;
 color: #f66c2d;
}

h3{
 font-size: 1.5em;
}

#map {
    position: fixed;
    width:50%;
}

#features {
    width: 50%;
    margin-left: 50%;
    font-family: Helvetica;
    overflow-y: scroll;
    background-color: #fafafa;
  padding-bottom: 350px;
}

section {
    padding:  25px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
 
}
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
   
}

/*----- 

Resposive sizes: Sæt sizing ind til de forskellige størrelser.

-----*/

/*mobil*/
@media(max-width:767px){
    
    
}

/*tablet*/
@media(min-width:768px)and(max-width: 1023px){
    
    
}
/*desktop*/
@media(min-width:1024px){
    
}



